
button {
	/* padding: .5em .8em; */
	border: 0;
	/* margin: .5em; */
	cursor: pointer;
	background-color: var(--clr1);
	color: whitesmoke;
}


button:hover {
	transition: 0.3s;
	background-color: rgb(163, 163, 163)
}

.btn-round{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	padding: 0.5rem;
	border: 2px rgb(104, 104, 104) solid;
	background-color: #fff;
	color: rgb(0, 0, 0);
	font-size: 20px;
}

button:disabled{
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
