.mobile-only-item {
    display: none !important;
}

.not-mobile-item {
    display: flex !important;
    align-items: center;
}

/* search input in mobile */
.search-mobile {
    border: none;
    border-radius: var(--h-border-radius);
    padding: 0.625rem 1.1875rem;
    width: 100vw;
    height: 2.1875rem;
    &::placeholder {
        color: black;
        font-weight: 500;
        text-align: center;
    }
    &:focus {
        border: none;

    }
}

@media screen and (max-width:745px) {
    .main-container {
        display: flex;
        flex-direction: column;

        >.app-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            overflow-y: auto;
            background-color: #f1f1f1;
        }
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .mobile-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: 100vh;
        width: 100vw;
        >.x-btn {
            position: absolute;
            right: 1rem;
            top: 1rem;
            border-radius: 50%;
            color: black;
            background-color: #fff;

        }

        >li {
            >.filter-btn {
                width: 80vw;
                background-color: #fff;
                border-radius: 1rem;
                padding: 20px;
                justify-content: space-between;
            }

            &:not(:first-of-type&:last-child) {
                margin-top: 1rem;
            }

            &:last-of-type {
                width: 80vw;
                justify-self: flex-end;
                position: relative;
                display: flex;
                justify-content: space-between;

                >a {
                    text-decoration: underline;
                    cursor: pointer;
                }

                >button {
                    border-radius: 5px;
                    color: whitesmoke;
                    background-color: rgb(20, 20, 20);

                }
            }
        }
    }

    .mobile-only-item {
        display: block !important;
    }

    .not-mobile-item {
        display: none !important;
    }

}