.modal-calendar-container{
    margin-top: 1rem;
}

.calendar-container{
    span{
        margin-left: 24px;
    }
}
@media screen and (max-width:745px) {
     .modal-calendar-container{
        flex-direction: column;
     }   
}