.stay-filter {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: #fff;
    position: relative;
    >button:not(:last-of-type) {
        text-align: start;
        padding: 1rem;
        border-right: 2px rgb(226, 226, 226) solid;
    }
}

.filter-btn {
    background-color: #fff;
    border: none;
    color: black;
    border-radius: 2rem;
    >input {
        border: none;
        border-radius: 1em;
        padding: 0.2rem;
        background-color: #fff;
        
    }
    >input:focus{
        outline: none;
        border: none;
    }
}

span.light-color{
    color: rgb(108, 108, 108);
}

.filter-btn:last-of-type>div{
    text-align: start;
    padding: 1rem;
}

.filter-btn:hover{
    background-color: #eeeeee;
    >input{
            background-color: #eeeeee;
    }
}

.filter-btn.active{
    background-color: rgb(210, 210, 210);
    transition: background-color 0.5s ease-in-out;
    >input{
        background-color: rgb(210, 210, 210);
    }
}

.stay-filter.active{
    background-color: #fff;
}


.search-btn {
    background-color: #FF385C;
    border: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 0.8rem;
}

.search-btn.small-search {
    height: 2.3rem;
    width: 2.3rem;
}

.search-btn:hover {
    background-color: #d72f4e;
}

SearchIcon {
    padding: 10;
}

/*
    display: grid;
    grid-template-columns: 1fr 5em 5em auto;
    align-items: center;
    gap: 0 .5em;

    background-color: var(--clr4);
    padding: .5em;

    & h3 {
        grid-column: 1 / -1;
        font-size: .9em;
        margin: 0;
    }

    :not(h3) {
        cursor: pointer;
    }

    & input:is([type="text"], [type="number"]){
        height: 1.8em;
        border: none;
        border-block-end: 1px solid var(--gray1);
    
        &:focus {
            outline: none;
            background-color: var(--gray1);
        }
    }


    .btn-clear {
        grid-column: 4;
    }

    .sort-field, .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em; */

/* margin-inline-start: .4em; */

/* font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    > input[type="radio"] {
        display: none;
    }

    & label {
        > span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            outline: 1px solid var(--gray1);
        }

        &:has(:checked) span  {
            background-color: var(--clr3);
            color: var(--gray1);
        }
    } 
}
*/