

@media (min-width: 100px){
     .main-container {
        display: flex;
        flex-direction: column;

        >.app-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            overflow-y: auto;
            background-color: #f1f1f1;
        }
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .search-mobile {
        border: none;
        padding: 0.8rem;
        width: 80vw;

        &::placeholder {
            color: rgb(34, 34, 34);
            font-weight: 500;
            text-align: center;
        }

        &:focus {
            border: none;

        }
}

    .mobile-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: 100vh;
        width: 100vw;
        >.x-btn {
            position: absolute;
            right: 1rem;
            top: 1rem;
            border-radius: 50%;
            color: black;
            background-color: #fff;

        }

        >li {
            >.filter-btn {
                width: 80vw;
                background-color: #fff;
                border-radius: 1rem;
                padding: 20px;
                justify-content: space-between;
            }

            &:not(:first-of-type&:last-child) {
                margin-top: 1rem;
            }

            &:last-of-type {
                width: 80vw;
                justify-self: flex-end;
                position: relative;
                display: flex;
                justify-content: space-between;

                >a {
                    text-decoration: underline;
                    cursor: pointer;
                }

                >button {
                    border-radius: 5px;
                    color: whitesmoke;
                    background-color: rgb(20, 20, 20);

                }
            }
        }
    }

    .mobile-only-item {
        display: block !important;
    }

    .not-mobile-item {
        display: none !important;
    }



}





@media (min-width: 750px){
.stay-filter {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: #fff;
    position: relative;
    border: 1px solid #b7b5b5;
    padding: 5px 10px;
    max-width:900px;
    > button:not(:last-of-type) {
        text-align: start;
        padding: 0rem 1rem;
        flex: 1;
        min-width: 0;
    }
    > button:hover,
    > button.active {
        border-radius: 2rem;
        padding: 12px;
        
    }
}

.not-mobile-item {
    display: flex !important;
    align-items: center;
}

.mobile-only-item {
    display: none !important;
}


.stay-filter.open {
    border-radius: 3rem;
    width: 80%;
    order: 3;
    justify-content: space-between;
    margin: auto;
    > button:hover,
    > button.active {
        border-radius: 2rem;
        padding: 14px;
    }
    > button:not(:last-of-type):not(:nth-last-child(2)) {
        border-right: 2px rgb(226, 226, 226) solid;
    }

}

.filter-btn.flex.column{
    /* padding: 14px; */
}


.filter-btn {
    background:fixed;
    border: none;
    color: black;
    /* font-weight: 600; */
    /* border-radius: 2rem; */
    >input {
        border: none;
        border-radius: 1em;
        padding: 0.2rem;        
    }
    >input:focus{
        outline: none;
        border: none;

    }
}

.filter-btn.border-right {
    border-right: 2px solid rgb(226, 226, 226);
    border-left: 2px solid rgb(226, 226, 226);
}

.filter-btn.des{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.house-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

span.light-color{
    color: rgb(108, 108, 108);
}

.filter-btn:last-of-type>div{
    text-align: start;
    padding: 1rem;
}

.filter-btn:hover{
    background-color: #b7b5b5;
    >input{
        background-color: #b7b5b5;
    }
}

.filter-btn.active{
    background-color: #fff;
    transition: background-color 0.5s ease-in-out;
    >input{
        background-color: #fff;
        transition: background-color 0.5s ease-in-out;
    }
}

.stay-filter.active{
    background-color: rgb(230, 230, 230);
}

.check-in{
    border-right: 2px solid rgb(226, 226, 226);
    border-left: 2px solid rgb(226, 226, 226);

}


.search-btn {
    background-color: #FF385C;
    border: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    /* margin-right: 0.6rem; */
    margin-left: 0.2rem;
    color: white;
}

.search-text {
    display: none;
    margin-right: 5px;
}

.search-btn.small-search {
    height: 2.3rem;
    width: 2.3rem;
}
.search-btn:hover{
    background-color: #FF385C;
}

.search-btn.open {
    width: 6rem;
    border-radius: 2rem;
    transition: width 0.3s ease, background-color 0.2s ease, border-radius 0.3s ease;
    background-color: #d72f4e;

}

.search-btn.open:hover {
    background-color: #d72f4e;
}

.search-btn.open .search-text {
    display: inline;
}

SearchIcon {
    padding: 10;
}
}


/*
    display: grid;
    grid-template-columns: 1fr 5em 5em auto;
    align-items: center;
    gap: 0 .5em;

    background-color: var(--clr4);
    padding: .5em;

    & h3 {
        grid-column: 1 / -1;
        font-size: .9em;
        margin: 0;
    }

    :not(h3) {
        cursor: pointer;
    }

    & input:is([type="text"], [type="number"]){
        height: 1.8em;
        border: none;
        border-block-end: 1px solid var(--gray1);
    
        &:focus {
            outline: none;
            background-color: var(--gray1);
        }
    }


    .btn-clear {
        grid-column: 4;
    }

    .sort-field, .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em; */

/* margin-inline-start: .4em; */

/* font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    > input[type="radio"] {
        display: none;
    }

    & label {
        > span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            outline: 1px solid var(--gray1);
        }

        &:has(:checked) span  {
            background-color: var(--clr3);
            color: var(--gray1);
        }
    } 
}
*/