.stay-filter {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: #fff;
    position: relative;
    border: 1px solid #b7b5b5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    > button:not(:last-of-type) {
        text-align: start;
        padding: 0rem 1rem;
        /* border-right: 2px rgb(226, 226, 226) solid; */
    }
    > button:hover,
    > button.active {
        border-radius: 2rem;
        padding: 12px;
    }
}


.stay-filter.open {
    border-radius: 3rem;

    > button:hover,
    > button.active {
        border-radius: 2rem;
        padding: 14px;
    }
    > button:not(:last-of-type):not(:nth-last-child(2)) {
        border-right: 2px rgb(226, 226, 226) solid;
    }
}

.filter-btn.flex.column{
    /* padding: 14px; */
}


.filter-btn {
    background:fixed;
    border: none;
    color: black;
    /* font-weight: 600; */
    /* border-radius: 2rem; */
    >input {
        border: none;
        border-radius: 1em;
        padding: 0.2rem;
        background-color: #fff;

    }
    >input:focus{
        outline: none;
        border: none;
    }
}

.filter-btn.border-right {
    border-right: 2px solid rgb(226, 226, 226);
    border-left: 2px solid rgb(226, 226, 226);
}

.filter-btn.des{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.house-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

span.light-color{
    color: rgb(108, 108, 108);
}

.filter-btn:last-of-type>div{
    text-align: start;
    padding: 1rem;
}

.filter-btn:hover{
    background-color: #b7b5b5;
    >input{
            background-color: #eeeeee;
    }
}

.filter-btn.active{
    background-color: #fff;
    transition: background-color 0.5s ease-in-out;
    >input{
        background:fixed;
    }
}

.stay-filter.active{
    background-color: rgb(230, 230, 230);
}

.check-in{
        border-right: 2px solid rgb(226, 226, 226);
    border-left: 2px solid rgb(226, 226, 226);

}


.search-btn {
    background-color: #FF385C;
    border: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    /* margin-right: 0.6rem; */
    margin-left: 0.2rem;
    color: white;
}

.search-text {
    display: none;
    margin-right: 5px;
}

.search-btn.small-search {
    height: 2.3rem;
    width: 2.3rem;
}
.search-btn:hover{
    background-color: #FF385C;
}

.search-btn.open {
    width: 6rem;
    border-radius: 2rem;
    transition: width 0.3s ease, background-color 0.2s ease, border-radius 0.3s ease;
    background-color: #d72f4e;

}

.search-btn.open:hover {
    background-color: #d72f4e;
}

.search-btn.open .search-text {
    display: inline;
}

SearchIcon {
    padding: 10;
}

/*
    display: grid;
    grid-template-columns: 1fr 5em 5em auto;
    align-items: center;
    gap: 0 .5em;

    background-color: var(--clr4);
    padding: .5em;

    & h3 {
        grid-column: 1 / -1;
        font-size: .9em;
        margin: 0;
    }

    :not(h3) {
        cursor: pointer;
    }

    & input:is([type="text"], [type="number"]){
        height: 1.8em;
        border: none;
        border-block-end: 1px solid var(--gray1);
    
        &:focus {
            outline: none;
            background-color: var(--gray1);
        }
    }


    .btn-clear {
        grid-column: 4;
    }

    .sort-field, .sort-dir {
        display: flex;
        align-items: center;
        gap: 1em; */

/* margin-inline-start: .4em; */

/* font-size: .8em;
    }

    .sort-dir {
        grid-column: 2 / 3;
    }

    > input[type="radio"] {
        display: none;
    }

    & label {
        > span {
            font-size: .9em;
            padding: 0.1em 0.3em;
            outline: 1px solid var(--gray1);
        }

        &:has(:checked) span  {
            background-color: var(--clr3);
            color: var(--gray1);
        }
    } 
}
*/