.filter-modal{
    display: grid;
    position: absolute;
    top: 100%;
    margin-top: 0.3rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: auto;
}

.filter-modal .choose-dates-btns{
    display: none;
}