.filter-modal{
    display: grid;
    position: absolute;
    top: 100%;
    margin-top: 0.3rem;
    left:50%;
    transform:translateX(-50%);
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: auto;
}