



.stay-search{
    display: grid;
    /* grid-template-columns: minmax(320px, 1.35fr) minmax(380px, 1fr); */
    grid-template-columns: 3fr 2fr;
    align-items: start;
    padding: 16px 24px;
    gap: 20px;
}

.results-stay-list{
    grid-column: 1;
    overflow-y: auto;
}

.stay-search .stays-horizontal-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    overflow-x: visible;
    flex-wrap: wrap;
}

.stay-search .stay-card {
    width: 100%;
    min-width: auto;
    max-width: none;
}



.map-container{
    grid-column: 2;
    position: sticky;
    width: 100%;
    top: 88px;
    height: calc(100vh - 88px - 24px);
}

.map-container > div {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  overflow: hidden;
}